/* src/styles/dashboard.css */
.dashboard {
    display: flex;
    justify-content: space-between;
  }
  
  .content {
    flex: 1 1 75%; /* Content takes up 75% of the width */
    padding: 0px;
  }
  
  .all-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  
  .section-container {
    width: 48%; /* Each section container takes up 45% of the width */
    box-sizing: border-box;
    padding: 0px;
    margin-bottom: 0px;
  }
  
  /* The items inside section-container naturally take 100% width */
  .section-container > * {
    width: 100%; /* Ensure that each section (Feed, Profile, etc.) takes 100% of the container's width */
  }
  