/* src/styles/dashboard.css */
.dashboard {
    display: flex;
    justify-content: space-between; /* Space between content and sidebar */
  }
  
  /* Flexbox container for the sections */
  .dashboard-row {
    display: flex;
    flex-wrap: wrap; /* Allow the sections to wrap to the next line if necessary */
    justify-content: space-between; /* Space sections evenly */
    gap: 10px; /* Add space between the sections */
  }
  
  .dashboard-section {
    background-color: #eaeaea;
    border-radius: 0.5em;
    padding: 20px;
    margin: 10px;
    flex: 1 1 45%;
    box-sizing: border-box;
  }
  
  