.feedContainer {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    height: 100%; /* Ensure full height inside parent container */
    flex-grow: 1; /* Stretch equally with Profile */
    overflow: hidden; /* Ensures nothing spills out */
    /* padding: 1em; */
}

.feedAppbar {
    /* margin-bottom: 20px; */
}

.feedPosts {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow posts section to expand */
    width: 100%; /* Ensure posts take up full width of Feed */
    overflow: hidden; /* Prevents children from overflowing */
    padding: 1em;
}

.feedPosts div {
    margin-bottom: 1em;
    /* background-color: orange; */
}

.feedViewAll {
    text-align: center;
    margin-bottom: 1em;
}

.viewAllLink {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 1em;
    font-size: 14px;
}

.viewAllLink:hover {
    text-decoration: underline;
    color: #007bff;
}

.loadingState, .errorMessage {
    text-align: center;
    font-size: 1.2rem;
}

.errorMessage {
    color: red;
}
