/* src/styles/Sidebar.module.css */

/* Sidebar container */
.sidebar {
    /* width: 100%; */
    padding: 1em;
    background-color: #eaeaea !important;
    margin: 1em 1em 1em 0;
    box-sizing: border-box;
}

/* Sidebar buttons */
.sidebarButton {
    width: 100%;
    margin: 0;
}

.sidebarButton a {
    text-align: left;
}

/* Logout button */
.logoutButton {
    margin-top: 15px;
}

/* Logout button hover effect */
.logoutButton:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    text-decoration: underline;
}

.dashboardButton {
    width: 100%;
    margin-bottom: 15px;
}
