
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Allows vertical scrolling if content overflows */
}

#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Allows vertical scrolling if content overflows */
}